@using Oqtane.Blogs.Services
@using Oqtane.Blogs.Models

@namespace Oqtane.Blogs
@inherits ModuleBase
@inject IBlogService BlogService
@inject NavigationManager NavigationManager
@inject ISettingService SettingService
@inject IStringLocalizer<Index> Localizer

@if (_blogs != null)
{
    if (!string.IsNullOrEmpty(PageState.UrlParameters))
    {
        <div class="text-center"><NavLink class="btn btn-secondary" href="@NavigateUrl()">@Localizer["View All Blogs"]</NavLink></div>
        <br />
        if (_blogs.Count > 0)
        {
            <div class="text-center">
                <ActionLink Action="Edit" Parameters="@($"id=" + _blogs[0].BlogId.ToString())" ResourceKey="EditBlog" Text="Edit" />
                <ActionDialog Header="Delete Blog" Message="Are You Sure You Wish To Delete This Blog?" Action="Delete" Security="SecurityAccessLevel.Edit" Class="btn btn-danger" ResourceKey="DeleteBlog" OnClick="@(async () => await DeleteBlog(_blogs[0].BlogId))" />
            </div>
            @((MarkupString)Utilities.FormatContent(FormatTemplate(_detail, _blogs[0]), PageState.Alias, "render"))
        }
        <br />
        <div class="text-center"><NavLink class="btn btn-secondary" href="@NavigateUrl()">@Localizer["View All Blogs"]</NavLink></div>
    }
    else
    {
        <ActionLink Action="Add" Security="SecurityAccessLevel.Edit" ResourceKey="AddBlog" Text="Add Blog" />
        <br />
        <Pager Format="Grid" Items="@_blogs" DisplayPages="1" PageSize="@_items.ToString()" ColumnClass="col-lg-4 col-md-6">
            <Row>
                @((MarkupString)Utilities.FormatContent(FormatTemplate(_summary, context), PageState.Alias, "render"))
                @if (UserSecurity.IsAuthorized(PageState.User, PermissionNames.Edit, ModuleState.Permissions))
                {
                    <div>
                        <NavLink class="btn btn-secondary" href="@FormatUrl(context)">@Localizer["Details"]</NavLink>
                        <ActionLink Action="Edit" Parameters="@($"id=" + context.BlogId.ToString())" ResourceKey="EditBlog" Text="Edit" />
                        <ActionDialog Header="Delete Blog" Message="Are You Sure You Wish To Delete This Blog?" Action="Delete" Security="SecurityAccessLevel.Edit" Class="btn btn-danger" ResourceKey="DeleteBlog" OnClick="@(async () => await DeleteBlog(context.BlogId))" />
                    </div>
                }
            </Row>
        </Pager>
    }
    <br />
}

@code {
    private List<Blog> _blogs;
    private int _items;
    private string _summary;
    private string _detail;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            _items = int.Parse(SettingService.GetSetting(ModuleState.Settings, "Items", "10"));
            _summary = SettingService.GetSetting(ModuleState.Settings, "Summary", "<a href=\"[URL]\"><h2>[TITLE]</h2></a><p>[SUMMARY]</p>");
            _detail = SettingService.GetSetting(ModuleState.Settings, "Detail", "<h2>[TITLE]</h2><p>[CONTENT]</p>");

            if (!string.IsNullOrEmpty(PageState.UrlParameters))
            {
                _blogs = new List<Blog>();
                _blogs.Add(await BlogService.GetBlogAsync(int.Parse(PageState.UrlParameters.Split('/')[0]), ModuleState.ModuleId));
            }
            else
            {
                _blogs = await BlogService.GetBlogsAsync(ModuleState.ModuleId);
                _blogs = _blogs.OrderByDescending(item => item.CreatedOn).ToList();
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Blogs {Error}", ex.Message);
            ModuleInstance.AddModuleMessage(Localizer["Error Loading Blogs"], MessageType.Error);
        }
    }

    private string FormatSlug(string title)
    {
        string slug = "";
        foreach(var character in title.ToLower())
        { 
            int ascii = (int)character;
            if ((ascii >= (int)'a' && ascii <= (int)'z') || (ascii >= (int)'0' && ascii <= (int)'9'))
            {
                slug += character;
            }
            else
            {
                slug += "-";
            }
        }
        return slug;
    }

    private string FormatUrl(Blog blog)
    {
        return NavigateUrl(PageState.Page.Path + "/" + Constants.UrlParametersDelimiter + "/" + blog.BlogId.ToString() + "/" + FormatSlug(blog.Title));        
    }

    private string FormatTemplate(string template, Blog blog)
    {
        template = template.Replace("[ID]", blog.BlogId.ToString());
        template = template.Replace("[TITLE]", blog.Title);
        template = template.Replace("[SUMMARY]", blog.Summary);
        template = template.Replace("[CONTENT]", Utilities.FormatContent(blog.Content, PageState.Alias, "render"));
        template = template.Replace("[CREATEDBY]", blog.CreatedBy);
        template = template.Replace("[CREATEDON]", blog.CreatedOn.ToShortDateString());
        template = template.Replace("[URL]", FormatUrl(blog));
        return template;
    }

    private async Task DeleteBlog(int id)
    {
        try
        {
            await BlogService.DeleteBlogAsync(id, ModuleState.ModuleId);
            await logger.LogInformation("Blog Deleted {BlogId}", id);
            NavigationManager.NavigateTo(NavigateUrl());
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Deleting Blog {BlogId} {Error}", id, ex.Message);
            ModuleInstance.AddModuleMessage(Localizer["Error Deleting Blog"], MessageType.Error);
        }
    }
}
