@namespace Oqtane.Blogs
@using Oqtane.Blogs.Shared
@inherits ModuleBase
@inject ISettingService SettingService
@implements Oqtane.Interfaces.ISettingsControl
@inject IStringLocalizer<Settings> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

<form @ref="form" class="@(validated ? "was-validated" : "needs-validation")" novalidate>
    <div class="container">
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="items" ResourceKey="Items" ResourceType="@resourceType" HelpText="Enter the maximum items per page">Items Per Page: </Label>
            <div class="col-sm-9">
                <input id="items" type="text" class="form-control" @bind="@_items" maxlength="1" />
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="columnCssClass" ResourceKey="ColumnCssClass" ResourceType="@resourceType" HelpText="Enter the Column CSS class for each summary blog post">Summary Column CSS Class: </Label>
            <div class="col-sm-9">
                <input id="columnCssClass" type="text" class="form-control" @bind="@_columnCssClass" />
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="rowCssClass" ResourceKey="rowCssClass" ResourceType="@resourceType" HelpText="Enter the Row CSS class for each summary blog post">Summary Row CSS Class: </Label>
            <div class="col-sm-9">
                <input id="rowCssClass" type="text" class="form-control" @bind="@_rowCssClass" />
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="summary" ResourceKey="Summary" ResourceType="@resourceType" HelpText="Enter the summary blog template">Summary Template: </Label>
            <div class="col-sm-9">
                <textarea id="summary" class="form-control" @bind="@_summary" rows="3"></textarea>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="detail" ResourceKey="Detail" ResourceType="@resourceType" HelpText="Enter the detail blog template">Detail Template: </Label>
            <div class="col-sm-9">
                <textarea id="detail" class="form-control" @bind="@_detail" rows="3"></textarea>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="comment" ResourceKey="Comment" ResourceType="@resourceType" HelpText="Enter the blog comment template">Comment Template: </Label>
            <div class="col-sm-9">
                <textarea id="comment" class="form-control" @bind="@_comment" rows="3"></textarea>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="comments" ResourceKey="Comments" ResourceType="@resourceType" HelpText="Do you wish to allow users to submit comments?">Allow Commments? </Label>
            <div class="col-sm-9">
                <select id="comments" class="form-select" @bind="@_comments">
                    <option value="True">@SharedLocalizer["Yes"]</option>
                    <option value="False">@SharedLocalizer["No"]</option>
                </select>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="searchProperties" ResourceKey="SearchProperties" ResourceType="@resourceType" HelpText="Specify if users can search blog posts">Allow Search? </Label>
            <div class="col-sm-9">
                <select id="searchProperties" class="form-select" @bind="@_searchProperties">
                    <option value="@BlogConstants.DefaultSearchProperties">@SharedLocalizer["Yes"]</option>
                    <option value="">@SharedLocalizer["No"]</option>
                </select>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="pagerPosition" ResourceKey="PagerPosition" ResourceType="@resourceType" HelpText="Select the position of the pager">Pager Position: </Label>
            <div class="col-sm-9">
                <select id="pagerPosition" class="form-select" @bind="@_pagerPosition">
                    <option value="Top">@Localizer["Top"]</option>
                    <option value="Bottom">@Localizer["Bottom"]</option>
                    <option value="Both">@Localizer["Both"]</option>
                </select>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="sender" ResourceKey="Sender" ResourceType="@resourceType" HelpText="Email address which notifications will be sent from">Sender: </Label>
            <div class="col-sm-9">
                <input id="sender" type="text" class="form-control" @bind="@_sender" />
            </div>
        </div>
        <Section Name="Subscriptions" Heading="Subscriptions" ResourceKey="Subscriptions">
            <div class="container">
                <div class="row mb-1 align-items-center">
                    <Label Class="col-sm-3" For="subscriptions" ResourceKey="Subscriptions" ResourceType="@resourceType" HelpText="Do you wish to allow email subscriptions to the blog?">Subscriptions? </Label>
                    <div class="col-sm-9">
                        <select id="subscriptions" class="form-select" @bind="@_subscriptions">
                            <option value="True">@SharedLocalizer["Yes"]</option>
                            <option value="False">@SharedLocalizer["No"]</option>
                        </select>
                    </div>
                </div>
            </div>
        </Section>
        <Section Name="SEO" Heading="SEO" ResourceKey="SEO">
            <div class="container">
                <div class="row mb-1 align-items-center">
                    <Label Class="col-sm-3" For="blogName" ResourceKey="BlogName" ResourceType="@resourceType" HelpText="Blog Name">Blog Name: </Label>
                    <div class="col-sm-9">
                        <input id="blogName" type="text" class="form-control" @bind="@_blogName" />
                    </div>
                </div>
                <div class="row mb-1 align-items-center">
                    <Label Class="col-sm-3" For="pageTitle" ResourceKey="PageTitle" ResourceType="@resourceType" HelpText="Title of the detail page">Page Title: </Label>
                    <div class="col-sm-9">
                        <input id="pageTitle" type="text" class="form-control" @bind="@_pageTitle" />
                    </div>
                </div>
                <div class="row mb-1 align-items-center">
                    <Label Class="col-sm-3" For="archiveTitle" ResourceKey="ArchiveTitle" ResourceType="@resourceType" HelpText="Title of the archive list">Archive Title: </Label>
                    <div class="col-sm-9">
                        <input id="archiveTitle" type="text" class="form-control" @bind="@_archiveTitle" />
                    </div>
                </div>
                <div class="row mb-1 align-items-center">
                    <Label Class="col-sm-3" For="archiveDescription" ResourceKey="ArchiveDescription" ResourceType="@resourceType" HelpText="Description of the archive list">Archive Description: </Label>
                    <div class="col-sm-9">
                        <input id="archiveDescription" type="text" class="form-control" @bind="@_archiveDescription" />
                    </div>
                </div>
                <div class="row mb-1 align-items-center">
                    <Label Class="col-sm-3" For="categoryTitle" ResourceKey="CategoryTitle" ResourceType="@resourceType" HelpText="Title of the list view by category">Category Title: </Label>
                    <div class="col-sm-9">
                        <input id="categoryTitle" type="text" class="form-control" @bind="@_categoryTitle" />
                    </div>
                </div>
                <div class="row mb-1 align-items-center">
                    <Label Class="col-sm-3" For="categoryDescription" ResourceKey="CategoryDescription" ResourceType="@resourceType" HelpText="Description of the list view by category">Category Description: </Label>
                    <div class="col-sm-9">
                        <input id="categoryDescription" type="text" class="form-control" @bind="@_categoryDescription" />
                    </div>
                </div>
                <div class="row mb-1 align-items-center">
                    <Label Class="col-sm-3" For="tagTitle" ResourceKey="TagTitle" ResourceType="@resourceType" HelpText="Title of the list view by tag">Tag Title: </Label>
                    <div class="col-sm-9">
                        <input id="tagTitle" type="text" class="form-control" @bind="@_tagTitle" />
                    </div>
                </div>
                <div class="row mb-1 align-items-center">
                    <Label Class="col-sm-3" For="tagDescription" ResourceKey="TagDescription" ResourceType="@resourceType" HelpText="Description of the list view by tag">Tag Description: </Label>
                    <div class="col-sm-9">
                        <input id="tagDescription" type="text" class="form-control" @bind="@_tagDescription" />
                    </div>
                </div>
                <div class="row mb-1 align-items-center">
                    <Label Class="col-sm-3" For="paginationTitle" ResourceKey="PaginationTitle" ResourceType="@resourceType" HelpText="Title suffix of the pagination info">Pagination Title: </Label>
                    <div class="col-sm-9">
                        <input id="paginationTitle" type="text" class="form-control" @bind="@_paginationTitle" />
                    </div>
                </div>
                <div class="row mb-1 align-items-center">
                    <Label Class="col-sm-3" For="metaTags" ResourceKey="MetaTags" ResourceType="@resourceType" HelpText="Specify meta tags for the blog detail page">Meta Tags: </Label>
                    <div class="col-sm-9">
                        <textarea id="metaTags" class="form-control" rows="3" @bind="@_metaTags" />
                    </div>
                </div>
            </div>
        </Section>
    </div>
</form>

@code {
    private string resourceType = "Oqtane.Blogs.Settings, Oqtane.Blogs.Client.Oqtane"; // for localization

    private ElementReference form;
    private bool validated = false;

    private string _items;
    private string _columnCssClass;
    private string _rowCssClass;
    private string _summary;
    private string _detail;
    private string _comment;
    private string _comments;
    private string _searchProperties;
    private string _pagerPosition;

    private string _subscriptions;
    private string _sender;

    private string _blogName;
    private string _pageTitle;
    private string _archiveTitle;
    private string _categoryTitle;
    private string _tagTitle;
    private string _archiveDescription;
    private string _categoryDescription;
    private string _tagDescription;
    private string _paginationTitle;
    private string _metaTags;

    protected override void OnInitialized()
    {
        try
        {
            _items = SettingService.GetSetting(ModuleState.Settings, "Items", "10");
            _summary = SettingService.GetSetting(ModuleState.Settings, "Summary", BlogConstants.DefaultSummaryTemplate);
            _detail = SettingService.GetSetting(ModuleState.Settings, "Detail", BlogConstants.DefaultDetailTemplate);
            _comment = SettingService.GetSetting(ModuleState.Settings, "Comment", BlogConstants.DefaultCommentTemplate);
            _comments = SettingService.GetSetting(ModuleState.Settings, "Comments", "False");
            _searchProperties = SettingService.GetSetting(ModuleState.Settings, "SearchProperties", BlogConstants.DefaultSearchProperties);
            _pagerPosition = SettingService.GetSetting(ModuleState.Settings, "PagerPosition", BlogConstants.DefaultPagerPosition);
            _columnCssClass = SettingService.GetSetting(ModuleState.Settings, "ColumnCssClass", BlogConstants.DefaultColumnCssClass);
            _rowCssClass = SettingService.GetSetting(ModuleState.Settings, "RowCssClass", BlogConstants.DefaultRowCssClass);
            _subscriptions = SettingService.GetSetting(ModuleState.Settings, "Subscriptions", "False");
            _sender = SettingService.GetSetting(ModuleState.Settings, "Sender", string.Empty);
            _blogName = SettingService.GetSetting(ModuleState.Settings, "BlogName", "Blog");
            _pageTitle = SettingService.GetSetting(ModuleState.Settings, "PageTitle", "[BlogName] | [Post:title]");
            _archiveTitle = SettingService.GetSetting(ModuleState.Settings, "ArchiveTitle", "[BlogName] | [Month] [Year]");
            _categoryTitle = SettingService.GetSetting(ModuleState.Settings, "CategoryTitle", "[BlogName] | [Category]");
            _tagTitle = SettingService.GetSetting(ModuleState.Settings, "TagTitle", "[BlogName] | [Tag]");
            _archiveDescription = SettingService.GetSetting(ModuleState.Settings, "ArchiveDescription", "Find all [BlogName] posts published on [Month] [Year]");
            _categoryDescription = SettingService.GetSetting(ModuleState.Settings, "CategoryDescription", "Find all [BlogName] posts in category [Category]");
            _tagDescription = SettingService.GetSetting(ModuleState.Settings, "TagDescription", "Find all [BlogName] posts tagged with [Tag]");
            _paginationTitle = SettingService.GetSetting(ModuleState.Settings, "PaginationTitle", " | Page [PageNumber]");
            _metaTags = SettingService.GetSetting(ModuleState.Settings, "MetaTags", string.Empty);
        }
        catch (Exception ex)
        {
            AddModuleMessage(ex.Message, MessageType.Error);
        }
    }

    public async Task UpdateSettings()
    {
        try
        {
            var settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            settings = SettingService.SetSetting(settings, "Items", _items);
            settings = SettingService.SetSetting(settings, "ColumnCssClass", _columnCssClass);
            settings = SettingService.SetSetting(settings, "RowCssClass", _rowCssClass);
            settings = SettingService.SetSetting(settings, "Summary", _summary);
            settings = SettingService.SetSetting(settings, "Detail", _detail);
            settings = SettingService.SetSetting(settings, "Comment", _comment);
            settings = SettingService.SetSetting(settings, "Comments", _comments);
            settings = SettingService.SetSetting(settings, "SearchProperties", _searchProperties);
            settings = SettingService.SetSetting(settings, "PagerPosition", _pagerPosition);
            settings = SettingService.SetSetting(settings, "Subscriptions", _subscriptions);
            settings = SettingService.SetSetting(settings, "Sender", _sender);
            settings = SettingService.SetSetting(settings, "PagePath", PageState.Page.Path);
            settings = SettingService.SetSetting(settings, "BlogName", _blogName);
            settings = SettingService.SetSetting(settings, "PageTitle", _pageTitle);
            settings = SettingService.SetSetting(settings, "ArchiveTitle", _archiveTitle);
            settings = SettingService.SetSetting(settings, "CategoryTitle", _categoryTitle);
            settings = SettingService.SetSetting(settings, "TagTitle", _tagTitle);
            settings = SettingService.SetSetting(settings, "ArchiveDescription", _archiveDescription);
            settings = SettingService.SetSetting(settings, "CategoryDescription", _categoryDescription);
            settings = SettingService.SetSetting(settings, "TagDescription", _tagDescription);
            settings = SettingService.SetSetting(settings, "PaginationTitle", _paginationTitle);
            settings = SettingService.SetSetting(settings, "MetaTags", _metaTags);
            await SettingService.UpdateModuleSettingsAsync(settings, ModuleState.ModuleId);
        }
        catch (Exception ex)
        {
            AddModuleMessage(ex.Message, MessageType.Error);
        }
    }
}
