@namespace Oqtane.Blogs
@inherits ModuleBase
@inject ISettingService SettingService
@implements Oqtane.Interfaces.ISettingsControl
@inject IStringLocalizer<Settings> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

<form @ref="form" class="@(validated ? "was-validated" : "needs-validation")" novalidate>
    <div class="container">
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="items" ResourceKey="Items" ResourceType="@resourceType" HelpText="Enter the maximum items per page">Items Per Page: </Label>
            <div class="col-sm-9">
                <input id="items" type="text" class="form-control" @bind="@_items" maxlength="1" required />
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="summary" ResourceKey="Summary" ResourceType="@resourceType" HelpText="Enter the summary blog template">Summary Template: </Label>
            <div class="col-sm-9">
                <textarea id="summary" class="form-control" @bind="@_summary" rows="5" required></textarea>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="detail" ResourceKey="Detail" ResourceType="@resourceType" HelpText="Enter the detail blog template">Detail Template: </Label>
            <div class="col-sm-9">
                <textarea id="detail" class="form-control" @bind="@_detail" rows="5" required></textarea>
            </div>
        </div>
        <hr />
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="editor" ResourceKey="Editor" ResourceType="@resourceType" HelpText="Specify the preferred blog authoring experience">Editor: </Label>
            <div class="col-sm-9">
                <select id="editor" class="form-select" @bind="@_editor">
                    <option value="">@Localizer["Full"]</option>
                    <option value="rich">@Localizer["Rich"]</option>
                    <option value="raw">@Localizer["Raw"]</option>
                </select>
            </div>
        </div>
        <hr />
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="subscriptions" ResourceKey="Subscriptions" ResourceType="@resourceType" HelpText="Do you wish to allow email subscriptions to the blog?">Subscriptions? </Label>
            <div class="col-sm-9">
                <select id="subscriptions" class="form-select" @bind="@_subscriptions">
                    <option value="True">@SharedLocalizer["Yes"]</option>
                    <option value="False">@SharedLocalizer["No"]</option>
                </select>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="sender" ResourceKey="Sender" ResourceType="@resourceType" HelpText="Email address which subscriptions will be sent from">Sender: </Label>
            <div class="col-sm-9">
                <input id="sender" type="text" class="form-control" @bind="@_sender" />
            </div>
        </div>
    </div>
</form>

@code {
    private string resourceType = "Oqtane.Blogs.Settings, Oqtane.Blogs.Client.Oqtane"; // for localization

    private ElementReference form;
    private bool validated = false;

    private string _items;
    private string _summary;
    private string _detail;
    private string _editor;
    private string _subscriptions;
    private string _sender;

    protected override void OnInitialized()
    {
        try
        {
            _items = SettingService.GetSetting(ModuleState.Settings, "Items", "10");
            _summary = SettingService.GetSetting(ModuleState.Settings, "Summary", "<a href=\"[URL]\"><h2>[TITLE]</h2></a><p>[SUMMARY]</p>");
            _detail = SettingService.GetSetting(ModuleState.Settings, "Detail", "<h2>[TITLE]</h2><p>[CONTENT]</p>");
            _editor = SettingService.GetSetting(ModuleState.Settings, "Editor", "");
            _subscriptions = SettingService.GetSetting(ModuleState.Settings, "Subscriptions", "False");
            _sender = SettingService.GetSetting(ModuleState.Settings, "Sender", "");
        }
        catch (Exception ex)
        {
            AddModuleMessage(ex.Message, MessageType.Error);
        }
    }

    public async Task UpdateSettings()
    {
        try
        {
            var settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            settings = SettingService.SetSetting(settings, "Items", _items);
            settings = SettingService.SetSetting(settings, "Summary", _summary);
            settings = SettingService.SetSetting(settings, "Detail", _detail);
            settings = SettingService.SetSetting(settings, "Editor", _editor);
            settings = SettingService.SetSetting(settings, "Subscriptions", _subscriptions);
            settings = SettingService.SetSetting(settings, "Sender", _sender);
            settings = SettingService.SetSetting(settings, "PagePath", PageState.Page.Path);
            await SettingService.UpdateModuleSettingsAsync(settings, ModuleState.ModuleId);
        }
        catch (Exception ex)
        {
            AddModuleMessage(ex.Message, MessageType.Error);
        }
    }
}
